body {
    background: url(../img/terms2.png), url(../img/terms1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    scroll-behavior: smooth;
    position: relative;
}
.overflow {
    overflow: hidden;
}
.bodyActive {
    overflow: hidden;
}
.backgroundBody{
    content: "";
    background: url(../img/terms3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}
.header {
    padding: 52px 65px 0 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.menu > .toggle button {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    border: none;
}
.menu > .toggle button:nth-of-type(2) {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    border: none;
}
.logo {
    width: 110px;
    height: 100px;
}
.logo a{
    width: 110px;
    height: 100px;
    display: flex;
}
.logo a img {
    max-width: 100%;
    mix-blend-mode: screen;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation li {
    margin-right: 32px;
}
.navigation li:nth-last-child(1) {
    margin-right: 0;
}
.navigation li a {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.flex-container .toggle {
    display: flex;
    align-items: center;
    margin-right: 64px;
}
.flex-container .toggle button {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    border: none;
}
footer .toggle button {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    border: none;
}
.btnActive {
    color: rgba(255, 255, 255, 0.25) !important;
}
.book {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 13px 45px;
    background: transparent;
    height: max-content;
}
.flex-container {
    display: flex;
    align-items: center;
}
.box-container {
    display: none;
}
.menu {
    position: fixed;
    top: -150%;
    left: 0;
}
.open-menu
{
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 9;
  background:#053543;
  background-size: cover;
  background-repeat: no-repeat; 
  padding: 22px 44px 22px 44px;
  -webkit-animation: burger-open 0.3s linear;
  -webkit-animation-fill-mode: forwards;
  animation: burger-open 0.3s linear;
  animation-fill-mode: forwards;
}
@-webkit-keyframes burger-open {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}
@keyframes burger-open {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}
.box-container {
    position: absolute;
    z-index: 10;
    display: none;
}
.birger-button {
    position: absolute;
    width: 30px;
    height: 12px;
    cursor: pointer;
    z-index: 100;
}
.birger-button span {
    display: block;
    width: 30px;
    border-radius: 3px;
    height: 2px;
    background: #fff;
    transition: all .3s;
    position: relative;
    margin: 0 auto;
}
.birger-button  span:nth-of-type(1) {
    margin-bottom: 6px;
}
.birger-button  span:nth-of-type(2) {
    margin-bottom: 6px;
    width: 30px;
}

.active span:nth-child(1) {
    animation: ease .7s top forwards;
}
.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}
.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}
.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}
.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}
.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}
@keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 5px;
      transform: rotate(0);
    }
    100% {
      top: 5px;
      transform: rotate(45deg);
    }
}
@keyframes top-2 {
    0% {
      top: 22px;
      transform: rotate(45deg);
    }
    50% {
      top: 22px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }  
@keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 10px;
      transform: rotate(0);
    }
    100% {
      bottom: 10px;
      transform: rotate(135deg);
    }
  } 
@keyframes bottom-2 {
    0% {
      bottom: 22px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
@keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
@keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
.menu.open-menu {
    flex-direction: column;
    overflow: scroll;
    max-width: 100vw;
    box-sizing: border-box;
}
.menu.open-menu {
    flex-direction: column;
    overflow: scroll;
    max-width: 100vw;
    box-sizing: border-box;
}
.menu.open-menu .navigaton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.menu.open-menu .navigaton li a {
    font-size: 26px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}
.menu.open-menu .navigaton li  {
    margin-bottom: 20px;
}
.menu.open-menu .navigaton li:nth-of-type(7) {
    margin-bottom: 50px;
}
.menu.open-menu > .toggle {
    margin: 0 auto;
}
.menu.open-menu > .toggle button{
    font-size: 26px;
    margin-bottom: 20px;
}
.menu.open-menu  .socialIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    justify-content: space-between;
    margin: 0 auto;
}
.menu.open-menu  .socialIcon a {
    margin: 0;
}
.menu.open-menu > p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    margin-top: 50px;
}
.socialIcon a:nth-of-type(2) {
    margin: 0 16px !important;
}
.logoBurder {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}
.logoBurder .book {
    height: max-content;
    margin-right: 50px;
}
.logoBurder a{
    width: 110px;
    height: 100px;
    display: flex;
}
.logoBurder a img {
    max-width: 100%;
    mix-blend-mode: screen;
}
h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
}
main{
    margin-top: 130px;
    padding-left: 64px;
    position: relative;
    max-width: 1312px;
    margin: 130px auto 0 auto;
}
.mainContent {
    padding: 0 64px;
    margin: 72px auto 0 auto;
    width: 100%;
    box-sizing: border-box;
}
h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 1px;
    margin-bottom: 32px;
}
.mainContent p {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 32px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    padding: 0 64px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
footer > p {
    font-weight: 275;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
}
.terms {
    display: flex;
    align-items: center;
}
.terms li:nth-of-type(1) {
    margin-right: 32px;
}
.activeColors {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25) !important;
    text-decoration: none;
}
.terms li a {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.formContract {
    padding-left: 64px;
}
.formContract h2 {
    margin-bottom: 72px;
} 
.formContract > p{
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 1px;
    margin-bottom: 65px;
    text-align: center;
} 
form {
    margin-top: 23px;
    display: flex;
    position: relative;
    align-items: flex-end !important;
    justify-content: space-between;
    max-width: 90%;
    margin-bottom: 64px;
}
label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #FFFFFF;
    position: relative;
}
form label::after {
    content: "*";
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #E06D1A;
    margin-left: 3px;
    position: absolute;
    top: 0;
    right: 0;
}
form label:nth-of-type(1):after {
    right: 205px;
}
form label:nth-of-type(2):after {
    right: 230px;
}
form label:nth-of-type(3):after {
    right: 250px;
}
input {
    width: 295px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px #CDD1DC;
    border-radius: 6px;
    border: none;
    padding-left: 11px;
    margin-top: 16px;
}
.submit {
    font-weight: 700;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 133px !important;
    height: 40px;
    border: 3px solid #FFFFFF;
    border-radius: 12px;
    background: transparent;
    padding: 0 !important;
}
input ::placeholder {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
}
.contactText {
    text-align: left !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 140% !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
}
.contactText span {
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 1px;
    margin-left: 16px;
    opacity: 0.4;
    text-transform: capitalize !important;
}
.conentMain {
    padding: 0 64px 0 64px !important;
}
.conentMain h3 {
    text-align: center !important;
}
h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.contentWidht {
    padding: 32px 64px;
    background: rgba(255, 255, 255, 0.25);
}
.contentWidht p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.contentContainer {
    display: flex;
    padding: 0 64px;
    margin-bottom: 65px;
    padding-bottom: 100px;
}
.contentContainerLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contentContainerRight {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contentContainerLeft p {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.padding {
    padding-left: 0 !important;
}
.contentContainerRight p {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.contentContainerLeft span {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.contentContainerLeft span:nth-of-type(2)::after {
    content: "( printed name of invitee )";
    font-weight: 275;
    font-size: 14px;
    line-height: 17px;
    display: block;
    color: #FFFFFF;
}
.contentContainerRight span {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.contentContainerRight span:nth-of-type(2)::after {
    content: "(printed name of the person signing the Release)";
    font-weight: 275;
    font-size: 14px;
    line-height: 17px;
    display: block;
    color: #FFFFFF;
}
.contentContainer {
    position: relative;
    margin-top: 64px;
}
.contentContainerBtn {
    position: absolute;
    bottom: -55px;
    background: #ABE1D8;
    border-radius: 24px;
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #041210;
    width: 243px;
    height: 85px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.close {
    width: 100 !important;
}
.menuRight {
    width: 510px;
    height: 100vh;
    right: -100%;
    top: 0;
    position: fixed;
    background: #042E3B;
    backdrop-filter: blur(50px);
    transition: 0.7s;
    z-index: 200;
    padding: 2vh 64px 2vh 24px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
  }
.open_menu {
    right: 0;
}
.menu .close {
    text-align: end;
    margin-left: auto;
    margin-bottom: 12px;
    cursor: pointer;
}
.menuRight > .close {
    text-align: end;
    margin-left: auto;
    margin-bottom: 12px;
    cursor: pointer;
}
.menuForm {
    margin-top: 2vh;
    width: 100%;
    display: block !important;
}
.menuContent h2 {
    padding-left: 0;
    margin-bottom: 0 !important;
}
.menuForm label {
    display: block;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.menuForm label::after {
    content: "*";
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #E06D1A;
    margin-left: 3px;
    position: static !important;
}
.menuForm input {
    width: 100%;
    padding: 8px 11px;
    width: 421px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px #CDD1DC;
    border-radius: 6px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
}
.menuForm input::placeholder {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
}
.menuForm p{
    margin-top: 16px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 16px;
}
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background: url(../img/popup2.png), url(../img/popup1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none; 
    transition: 0.5s all;
    z-index: 100;
}
.closePopup {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99;
    padding: 0 !important;
    border: none !important;
}
.popup__bg::after {
    content: "";
    background: url(../img/popap3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}
.popup__bg.active { 
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    width: max-content;
    padding: 25px;
    transition: 0.5s all;
}
.popup.active { 
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}
.close-popup {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 48px;
    border: 3px solid #FFFFFF;
    border-radius: 12px;
    background: transparent;
}
.popupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popupContent p:nth-of-type(1) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.popupContent p:nth-of-type(2) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
     margin-bottom: 16px;
}
#checkbox1, #checkbox2 {
    width: max-content;
    height: max-content;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: none;
    display: inline !important;
}
.labelChec{
    display: inline !important;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5) !important;
}
.labelChec span {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #1B4AF0;
}
.submit {
    margin-top: 70px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF !important;
    padding: 16px 48px;
    border: 3px solid #FFFFFF;
    border-radius: 12px;
    width: 100%;
    background: transparent !important;
}
@media (max-width: 1440px) {
.header {
    position: relative;
    padding-left: 250px;
    height: 100px;
    flex-direction: column;
}
.logo {
    position: absolute;
    top: 52px;
    left: 65px;
}
}
@media (max-width: 1300px) {
form {
    flex-direction: column;
    align-items: center !important;
    max-width: 100%;
}
input {
    margin-bottom: 30px;
}
}
@media (max-width: 1200px) {
.navigation li {
    margin-right: 12px;
}
.formContract {
    padding: 0 65px;
}
.mainContent {
    padding-left: 0;
    padding-right: 65px;
}
}
@media (max-width: 992px) {
.navigation li a {
    font-size: 12px;
}
.navigation li {
    margin-bottom: 20px;
}
.book {
    font-size: 14px;
}
.header {
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 35px;
    height: 105px;
}
.navigation {
    flex-wrap: wrap;
}
.logo {
    top: 20px;
    left: 20px;
}
footer {
    flex-direction: column;
    position: relative;
    margin-top: 38px;
}
.flex-container {
    align-items: center;
}
footer > p {
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
    padding-bottom: 32px;
}
.terms {
    flex-direction: column;
}
.footerSocial {
    margin-bottom: 32px;
}
.terms li:nth-of-type(1) {
    margin-right: 0;
    margin-top: 23px;
    margin-bottom: 24px;
}
footer .toggle {
    margin: 40px 0;
}
}
@media (max-width: 768px) {
.box-container {
    display: block;
    right: 50px;
    top: 67px;
}
.navigation {
    display: none;
}
.logo {
    position: static;
}
.header {
    width: 100%;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    height: 150px;
}
}
@media (max-width: 576px) {
.flex-container .toggle {
    display: none;
}
.book {
    padding: 13px;
}
.logo {
    width: 66px;
    height: 60px;
}
.formContract {
    padding: 0 16px;
}
.mainContent p {
    font-weight: 300;
    word-break: break-all;
}
.conentMain {
    padding: 0 16px !important;
}
.contentWidht {
    padding: 32px;
}
.contentContainer {
    padding: 0 16px 100px 16px;
    flex-direction: column;
}
.contentContainerLeft {
    width: 100%;
}
.contentContainerRight {
    width: 100%;
}
.padding {
    padding: 0;
}
input {
    width: 90%;
    min-width: 90%;
}
label {
    width: 90%;
    min-width: 90%;
}
form label::after {
    content: none;
}
.formContract h2 {
    padding: 0 16px;
}

.contactText span{
    display: block;
    margin-left: 0;
    margin-top: 8px;
}
.logo a{
    width: 66px;
    height: 60px;
}
footer  {
    padding: 0 16px 32px;
}
footer .toggle {
    display: flex;
}
.footerSocial {
    width: max-content;
}
.footerSocial a:nth-of-type(2) {
    margin: 0 8px;
}
.menu.open-menu {
    padding: 20px;
}
.logoBurder {
    height: 150px;
    align-items: flex-start;
    margin-top: 28px;
}
.logoBurder a img{
    width: 66px;
    height: 60px;
}
.menu.open-menu .navigaton li a {
    font-size: 16px;
    font-weight: 700;
}
.menu.open-menu .navigaton li {
    margin-bottom: 24px;
}
main {
    margin-top: 72px;
    padding: 0 16px;
}
.mainContent {
    padding-right: 0;
}
.menuRight {
    width: 100%;
}
.menuRight {
    padding: 20px;
}
.menuForm > input {
    max-width: 90%;
}
}