@font-face {
    font-family: 'Molle';
    src: url(../fonts/Molle-Regular.ttf);
}
body {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.overflow {
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    position: relative;
}
main {
    background: url(../img/2.png),url(../img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}
/* .mainBackground {
    position: relative;
    object-fit: cover;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
} */
.mainPosition {
    background:url(../img/Texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    z-index: -1;
}
a {
    cursor: pointer !important;
}
.reviews {
    width: 100%;
    height: 481px;
}
.btnMobile {
    display: none;
}
.board {
    overflow: hidden;
}
.board img {
    min-width: 100vw;
    width: 100vw;
    object-fit: cover;
}
/* .board {
    margin-top: 200px;
    background: url(../img/art2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
}
.positionTittle {
    position: absolute;
    top: -200px !important;
    right: 22% !important;
}
.boardContainer > p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.boardContainer {
    display: flex;
    justify-content: flex-start;
    width: 85%;
}
.boardContainer img {
    position: absolute;
        top: -230px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index: -1;
} */
.background {
    background: url(../img/MainArt.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: bottom;
    position: relative;
}
h2 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 72px;
}
.logo {
    width: 110px;
    height: 100px;
}
.logo > a > img {
    max-width: 100%;
    mix-blend-mode: screen;
}
header {
    padding: 3vh 64px 0 64px;
    height: 135px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.topContainer {
    display: flex;
    align-items: center;
    margin-top: 200px;
}
.topContainerSidebar {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 64px;
}
.topContainerSidebar > img {
    mix-blend-mode: overlay;
    max-height: 55%;
    margin-top: 32px;
}
.socialIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}
.socialIcon a{
    margin-bottom: 8px;
}
.socialIcon a:nth-last-child(1){
    margin-bottom: 0;
}
.rotate {
    display: flex;
    align-items: center;
}
.rotate > p {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: overlay;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    text-align: center;
}
.navigaton {
    display: flex;
}
.navigaton li a {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 32px;
}
.toggle button{
    background: transparent;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    border: none;
    color: #FFFFFF;
    width: max-content;
}
.btnActive {
    color: rgba(255, 255, 255, 0.25) !important;
}
.book-now {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    padding: 16px 48px;
    border: 3px solid #FFFFFF;
    border-radius: 12px;
}
.topContainerMain {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 110px;
}  

.topContainerMain > button {
    background: #ABE1D8;
    border-radius: 24px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
    color: #041210;
    padding: 14px 64px;
    border: none;
    height: max-content;
    width: max-content;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 7vh;
    text-align: center;
    z-index: 2;
}
.topContainerMain > button::after {
    position: absolute;
    content: "";
    display: flex;
    width: 100%;
    height: 31.2px;
    background: #ABE1D8;
    filter: blur(7.5px);
    left: 0%;
    bottom: 0;
    z-index: -1;
}
.card {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 130px;
}
.card::after {
    content: "";
    background: url(../img/cardMap.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 483px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    mix-blend-mode: screen;
}
.card > .wrapper::after {
    content: "";
    background: url(../img/cityLeft.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position: absolute;
    left: -6%;
    top: 18%;
    width: 29%;
    height: 510px;
    display: flex;
    z-index: -1;
}
.card > .wrapper::before {
    content: "";
    background: url(../img/cityRight.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position: absolute;
    right: -6%;
    top: 18%;
    width: 29%;
    height: 510px;
    display: flex;
    z-index: -1;
}
.cardContainer {
    max-width: 1312px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto 0 auto;
}
.cardContainerInfo {
    max-width: 310px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: drop-shadow(0px 0px 0px rgba(3, 29, 38, 0.02)) drop-shadow(0px 0px 0px rgba(3, 29, 38, 0.15)) drop-shadow(0px 9px 0px rgba(3, 29, 38, 0.5)) drop-shadow(0px 11px 11px rgba(3, 29, 38, 0.85)) drop-shadow(0px 3px 6px rgba(3, 29, 38, 0.98)) drop-shadow(0px 0px 0px #031D26)
}
.cardinfo p{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.cardinfo p:nth-of-type(2) {
   text-align: right;
   margin-top: 16px;
}
h3 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 16px;
}
.cardContainer .cardContainerInfo:nth-of-type(1) {
    background: url(../img/Card1.png);
}
.cardContainer .cardContainerInfo:nth-of-type(2) {
    background: url(../img/Card2.png);
}
.cardContainer .cardContainerInfo:nth-of-type(3) {
    background: url(../img/Card3.png);
}
.cardContainer .cardContainerInfo:nth-of-type(4) {
    background:url(../img/Card4.png);
}
.cardinfo {
    padding: 0 32px 32px 32px;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 24px;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(0.15deg, #1F1F1F -3.96%, rgba(229, 140, 143, 0) 99.85%);
}
.cardContainerInfo > p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 3px 32px;
    background: #248F7E;
    border-radius: 24px 24px 0 0 ;
    text-align: center;
}
.menuRight {
    width: 500px;
    height: 100vh;
    right: -500px;
    top: 0;
    position: fixed;
    background: #042E3B;
    backdrop-filter: blur(50px);
    transition: 0.7s;
    z-index: 200;
    padding: 2vh 64px 2vh 24px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
.open_menu {
    right: 0;
}
.menu .close {
    text-align: end;
   margin-left: auto;
   margin-bottom: 12px;
   cursor: pointer;
}
.menuRight > .close {
    text-align: end;
    margin-left: auto;
    margin-bottom: 12px;
    cursor: pointer;
}
.menuForm {
    margin-top: 2vh;
    width: 100%;
}
.menuContent h2 {
    padding-left: 0;
    margin-bottom: 0 !important;
}
.menuForm label {
    display: block;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.menuForm label::after {
    content: "*";
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #E06D1A;
    margin-left: 3px;
}
.menuForm input {
    width: 100%;
    padding: 8px 11px;
    width: 421px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px #CDD1DC;
    border-radius: 6px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
}
.menuForm input::placeholder {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
}
.menuForm p{
    margin-top: 16px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 16px;
}
#checkbox1, #checkbox2 {
    width: max-content;
    height: max-content;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: none;
    display: inline !important;
}
.labelChec{
    display: inline !important;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5) !important;
}
.labelChec span {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #1B4AF0;
}
.submit {
    margin-top: 70px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF !important;
    padding: 16px 48px;
    border: 3px solid #FFFFFF;
    border-radius: 12px;
    width: 100%;
    background: transparent !important;
}
.menu {
    position: fixed;
    top: -150%;
    left: 0;
}
.open-menu
{
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 9;
  background:#053543;
  background-size: cover;
  background-repeat: no-repeat; 
  padding: 22px 44px 22px 44px;
  -webkit-animation: burger-open 0.3s linear;
  -webkit-animation-fill-mode: forwards;
  animation: burger-open 0.3s linear;
  animation-fill-mode: forwards;
}
@-webkit-keyframes burger-open {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}
@keyframes burger-open {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}
.box-container {
    border-radius: 2px;
    position: absolute;
    top:50%; 
    transform:translate(-50%, -50%); 
    left: auto;
    border-radius: 50%;
    z-index: 10;
    display: none;
}
.card .wrapper h2 {
    max-width: 1312px;
    width: 100%;
    margin: 0 auto 72px auto;
}
.birger-button {
    position: absolute;
    top: 10px;
    left: auto;
    right: 10%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 12px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin-top: -10px;
}
.birger-button span {
    display: block;
    width: 30px;
    border-radius: 3px;
    height: 2px;
    background: #fff;
    transition: all .3s;
    position: relative;
    margin: 0 auto;
}
.birger-button  span:nth-of-type(1) {
    margin-bottom: 6px;
}
.birger-button  span:nth-of-type(2) {
    margin-bottom: 6px;
    width: 30px;
}

.active span:nth-child(1) {
    animation: ease .7s top forwards;
}
.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}
.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}
.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}
.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}
.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}
@keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 5px;
      transform: rotate(0);
    }
    100% {
      top: 5px;
      transform: rotate(45deg);
    }
}
@keyframes top-2 {
    0% {
      top: 22px;
      transform: rotate(45deg);
    }
    50% {
      top: 22px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }  
@keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 10px;
      transform: rotate(0);
    }
    100% {
      bottom: 10px;
      transform: rotate(135deg);
    }
  } 
@keyframes bottom-2 {
    0% {
      bottom: 22px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
@keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
@keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
.menu.open-menu {
    flex-direction: column;
    overflow: scroll;
    max-width: 100vw;
    box-sizing: border-box;
}
.burgerLogo {
    display: flex;
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.burgerLogo > a > img {
    max-width: 60%;
    mix-blend-mode: screen;
}
.menu.open-menu .navigaton{
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.menu.open-menu .navigaton li a {
    font-size: 20px;
}
.menu.open-menu .navigaton li  {
    margin-bottom: 20px;
}
.menu.open-menu .navigaton li:nth-of-type(7) {
    margin-bottom: 50px;
}
.menu.open-menu > .toggle {
    margin: 0 auto;
}
.menu.open-menu > .toggle button{
    font-size: 20px;
    margin-bottom: 20px;
}
.menu.open-menu  .socialIcon {
    flex-direction: row;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    margin: 0 auto;
}
.menu.open-menu  .socialIcon a {
    margin: 0;
}
.menu.open-menu > p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    margin-top: 50px;
}
/*---------------------------Popup----------------------------*/
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background: url(../img/popup2.png), url(../img/popup1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none; 
    transition: 0.5s all;
    z-index: 100;
}
.closePopup {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99;
    padding: 0 !important;
    border: none !important;
}
.popup__bg::after {
    content: "";
    background: url(../img/popap3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}
.popup__bg.active { 
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    width: max-content;
    padding: 25px;
    transition: 0.5s all;
}
.popup.active { 
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}
.close-popup {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 48px;
    border: 3px solid #FFFFFF;
    border-radius: 12px;
    background: transparent;
}
.popupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popupContent p:nth-of-type(1) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.popupContent p:nth-of-type(2) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
     margin-bottom: 16px;
}
.groupTrainings {
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.groupTrainingsLeft {
    width: 50%;
    align-items: flex-start;
    margin-right: 24px;
}
.groupTrainingsLeft img{
    min-width: 100%;
    max-width: 100%;
    height: 100%;
}
.groupTrainingsRight {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.groupTrainingsRight span {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 2px 8px 3px 10px;
    background: #248F7E;
    border-radius: 100px;
    margin-bottom: 16px;
    width: max-content;
}
.groupTrainingsRight > h3 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.groupTrainingsRight > p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.btnPrice {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}
.btnPrice button {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 37px;
    color: #041210;
    padding: 16px 77px;
    background: #ABE1D8;
    border-radius: 24px;
    display: flex;
    align-items: center;
    border: none;
}
.btnPrice button::after {
    content: "";
    background: url(../img/line.svg);
    width: 11px;
    height: 13px;
    display: flex;
    margin-left: 7px;
}
.btnPrice > p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.stagesOfWork {
    margin-top: 57px
}
.stagesOfWork .stagesContainer:nth-of-type(3) {
    right: 0;
    padding-right: 0;
}
.stagesOfWork .wrapper {
    max-width: 1312px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
}
.stagesOfWork .wrapper h2 {
    position: absolute;
    top: 85px;
    left: 0;
}
.stagesContainer {
    height: 550px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-right: 20px;
}
.stagesContainer p:nth-of-type(1) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.stagesContainer p:nth-of-type(2) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 32px;
}
.positionNumber {
    font-family: 'Molle';
    font-weight: 400;
    font-size: 500px;
    line-height: 70%;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 0.05;
    position: absolute;
    top: 25%;
    right: 10%;
    width: max-content;
    z-index: -1;
}
.stagesContainer img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    max-width: 100%;
    z-index: -1;
}
.media {
   padding-left: 4.5vw;
   width: 100%;
   padding-bottom: 45px;
   position: relative;
}
.slider {
    padding-bottom: 150px;
    overflow: hidden;
    position: relative;
}
.slider::after {
    content: "";
    background: url(../img/videoBack.png);
    background-size: cover;
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}
.slick-slide {
    margin: 0 12px;
}
.slick-slide:nth-last-of-type(1) {
    margin-left: 0 !important;
}
.slider h2 {
    max-width: 1312px;
    width: 100%;
    margin-left: 4.5vw;
    margin-bottom: 72px;
}
.slick-next.slick-arrow{
    display: block;
    background: url('../img/right.svg'),transparent;
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    border: none;
    position: absolute;
    right: 40%;
    bottom: 38px;
}
.slick-prev.slick-arrow{
    display: block;
    background: url('../img/left.svg'),transparent;
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    border: none;
    position: absolute;
    left: 45%;
    bottom: 38px;
}
.slick-dots {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 45px auto 0 auto;
}
.slick-dots li {
    display: flex;
}
.mediaContainer {
    width: 310px;
    height: 310px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative;
    border-radius: 24px;
}
.mediaContainer::after {
    content: "";
    background: url(../img/play.png);
    width: 24px;
    height: 24px;
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 20px;
}
.mediaContainer:nth-last-of-type(3):after {
    content: "";
    background: url(../img/SmallPlay.png);
    width: 24px;
    height: 24px;
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 20px;
}
.mediaContainer:nth-last-of-type(4):after {
    content: "";
    background: url(../img/SmallPlay.png);
    width: 24px;
    height: 24px;
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 20px;
}
.slick-dots .slick-active {
    width: 34px !important;
    border: none;
    height: 6px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-right: 7px;
}
.slick-dots li button{
    width: 8px;
    height: 6px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-right: 7px;
    border: none;
    color: transparent;
}
.mediaContainer img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slick-slide {padding: 0 15px;}
.mediaContainer:nth-of-type(1) {
    background: linear-gradient(180deg, rgba(229, 140, 143, 0.75) 0%, rgba(45, 179, 157, 0.75) 100%), url(../img/video1.png);
    background-blend-mode: hue;
}
.mediaContainer:nth-of-type(2) {
    background: linear-gradient(180deg, rgba(229, 140, 143, 0.75) 0%, rgba(45, 179, 157, 0.75) 100%), url(../img/video2.png);
    background-blend-mode: hue;
}
.mediaContainer:nth-of-type(3) {
    background: linear-gradient(180deg, rgba(229, 140, 143, 0.75) 0%, rgba(45, 179, 157, 0.75) 100%), url(../img/video3.png);
    background-blend-mode: hue;
}
.mediaContainer:nth-of-type(4) {
    background: linear-gradient(180deg, rgba(229, 140, 143, 0.75) 0%, rgba(45, 179, 157, 0.75) 100%), url(../img/video4.png);
    background-blend-mode: hue;
}
.mediaContainer:nth-of-type(5) {
    background: linear-gradient(180deg, rgba(229, 140, 143, 0.75) 0%, rgba(45, 179, 157, 0.75) 100%), url(../img/video1.png);
    background-blend-mode: hue;
}
.mediaContainer:nth-of-type(6) {
    background: linear-gradient(180deg, rgba(229, 140, 143, 0.75) 0%, rgba(45, 179, 157, 0.75) 100%), url(../img/video2.png);
    background-blend-mode: hue;
}
.mediaContainer:nth-of-type(7) {
    background: linear-gradient(180deg, rgba(229, 140, 143, 0.75) 0%, rgba(45, 179, 157, 0.75) 100%), url(../img/video3.png);
    background-blend-mode: hue;
}
.aboutAs {
    height: 336px;
    margin-top: 150px;
    position: relative;
    margin-bottom: 150px;
}
.aboutAs .wrapper{
    max-width: 1312px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.aboutAsContainer {
    width: 50%;
    margin: 0 auto;
}
.aboutPositionCentr {
    position: absolute;
    z-index: -1;
    top: 33%;  
    left: 50%;
    transform: translate(-50%, -50%);
}
.aboutPosition {
    font-family: 'Molle';
    font-weight: 400;
    font-size: 338.089px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    mix-blend-mode: soft-light;
    opacity: 0.25;
    transform: rotate(-5.77deg);
}
.aboutPosition2 {
    font-family: 'Molle';
    font-weight: 400;
    font-size: 203.595px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    mix-blend-mode: soft-light;
    opacity: 0.25;
    transform: rotate(-5deg);
    margin-top: -80px;
}
.aboutAsContainer p:nth-of-type(1) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.aboutAsContainer p:nth-of-type(2) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 16px;
}
.equipment .wrapper {
    max-width: 1315px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 150px;
    overflow: hidden;
}
.equipment .wrapper h2{
    margin-bottom: 43px;
}
.board {
    position: relative;
}
.board:after {
   content: "";
   background-repeat: no-repeat;
   background-size: cover !important;
   width: 300px;
   height: 300px;
   position: absolute;
   top: 20%;
   left: 80%;
   background: radial-gradient(50% 50% at 50% 50%, rgba(171, 169, 116, 0.74) 0%, rgba(6, 79, 107, 0) 100%);
}
.equipmentVest,
.equipmentBoard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 50px;
    flex-wrap: wrap;
}
.equipmentBoard {
    margin-top: 110px;
}
.equipmentBoardContainer img,
.equipmentVestContainer img {
    max-width: 200px;
}
.equipmentBoardContainer:hover,
.equipmentVestContainer:hover {
   transform: scale(1.5);
   transition: all 2s;
   cursor: pointer;
}
.equipmentBoardContainer:hover img,
.equipmentVestContainer:hover img{
   transform: rotate(-15deg);
   transition: all 2s;
}
.equipmentTittle {
    position: absolute;
    top: -100px;
    right: 0;
    font-family: 'Molle';
    font-weight: 400;
    font-size: 150px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    mix-blend-mode: soft-light;
    opacity: 0.25;
}
.equipmentVestContainer,
.equipmentBoardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
.equipmentVestContainer p,
.equipmentBoardContainer p {
    margin-top: 24px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.contactUs {
    max-width: 1312px;
    width: 100%;
    margin: 0 auto 0 auto;
}
.contactUs picture img {
    display: none;
}
.contactUsContent {
    width: 100%;
    height: 400px;
    margin-top: 72px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 64px 36px 64px;
    background: url(../img/Maps.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
}
.contactUsContentLeft {
    display: flex;
    align-items: center;
}
.contactUsContentLeft img {
    border-radius: 24px;
    margin-right: 16px;
}
.content {
    padding: 16px;
    background: #FFFFFF;
    border-radius: 24px;
}
.content p:nth-of-type(1) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 8px;
}
.content p:nth-of-type(2) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}
.contactTop {
    padding: 16px;
    background: #FFFFFF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}
.contactTop p:nth-of-type(1) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    border: none;
}
.contactTop p::before {
    content: "";
    background: url(../img/PhoneCall.svg);
    background-size: cover;
    width: 23px;
    height: 23px;
    display: flex;
    margin-right: 12px;
}
.contactTop p:nth-of-type(2) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #000000;
    display: flex;
    align-items: center;
    border: none;
}
.contactTop p:nth-of-type(3)::before {
    content: none;
}
.contactTop p:nth-of-type(3) {
    margin-top: 8px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}
.contactUsContentRight button {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #041210;
    padding: 24px 64px;
    background: #ABE1D8;
    border-radius: 24px;
    border: none;
}
.footer {
    max-width: 1312px;
    width: 100%;
    margin: 70px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
}
.footer > p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 275;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
}
.footerNav {
    display: flex;
    align-items: center;
}
.footerNav li:nth-of-type(1) {
    margin-right: 32px;
}
.footerNav li a {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.footerToggle {
    display: flex;
}
.footerToggle button:nth-of-type(1) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
    margin-right: 16px;
    background: transparent;
    border: none;
}
.footerToggle button:nth-of-type(2) {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    border: none;
}
.footerIcons {
    display: flex;
    align-items: center;
}
.footerIcons a:nth-of-type(2) {
    margin: 0 8px;
}
.footerIcons a {
    text-decoration: none;
}
.mapsPositionFooter {
    display: none;
}
@media (max-width:1440px) {
.card > .wrapper::before {
    right: -19%;
}
.card > .wrapper::after {
    left: -19%;
}
.card::after {
    bottom: -10%;
}
.contactUs {
    width: 90%;
    margin: 0 auto;
}
.footer {
    width: 90%;
    margin: 50px auto 0 auto;
}
}
@media (min-width:1440px) {
.card > .wrapper::before {
    right: -5%;
}
.card > .wrapper::after {
    left: -5%;
}
.stagesOfWork .wrapper {
    max-width: 1440px;
    width: 100%;
}
}
@media(max-width:1350px) {
    .navigaton li a {
        margin-right: 16px;
        font-size: 15px;
    }
    .cardContainerInfo {
        width: 24%;
    }
    .card .wrapper {
        width: 90%;
    }
.groupTrainings {
    width: 90%;
}
.stagesOfWork .wrapper {
    width: 90%;
}
.positionNumber {
    right: 0;
}
.aboutAs .wrapper {
    width: 90%;
}
.aboutPosition {
    font-size: 300px;
}
.aboutPosition2 {
    font-size: 180px;
}
.equipment .wrapper {
    width: 90%;
}
}
@media (max-width: 1200px) {
.equipmentVestContainer {
    width: 250px;
    margin-bottom: 20px;
}
.equipmentBoardContainer {
    width: 250px;
    margin-bottom: 20px;
}
header > .navigaton {
    display: none;
}
.aboutPosition {
    font-size: 200px;
}
.aboutPosition2 {
    font-size: 150px;
    width: max-content;
}
header > .toggle {
    display: none;
}
.cardContainerInfo {
    background-size: cover !important;
}
.box-container {
    display: block;
}
.cardContainer {
    flex-wrap: wrap;
}
.cardContainerInfo {
    width: 40%;
    min-width: 40%;
    margin-bottom: 50px;
    background-size: cover;
}
.card > .wrapper::before {
content: none;
}
.card > .wrapper::after {
    content: none;
}
.groupTrainings {
    flex-direction: column;
}
.groupTrainingsLeft {
    width: 100%;
    margin-bottom: 20px;
}
.groupTrainingsRight {
    width: 100%;
}
.cardContainer {
    margin-bottom: 0;
}
.groupTrainings {
    width: 90%;
}
.positionNumber {
    font-size: 300px;
}
.stagesContainer img {
    left: -50px;
}
.stagesContainer p:nth-of-type(2) {
    min-height: 100px;
}
.slick-next.slick-arrow {
    right: 35%;
}
.slick-prev.slick-arrow {
    left: 40%;
}
}
@media (max-width: 992px) {
.aboutPosition {
    font-size: 150px;
}
.equipmentTittle {
    font-size: 100px;
}
.mapsPositionFooter {
    display: block;
    max-width: 100%;
}
.contactUsContentLeft {
    flex-direction: column;
   align-items: flex-start;
    padding: 0;
}
.contactUsContent {
    background: transparent;
    align-items: flex-start;
    padding: 0;
}
.contactUsContentLeft img {
    display: none;
}
.contactUsContent {
    position: relative;
    height: 250px;
}
.contactUsContentRight button {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: max-content;
}
.content {
    background: transparent;
    width: 75%;
    padding: 0;
}
.content p {
    color: #fff !important;
}
.footer {
    flex-direction: column;
    position: relative;
    padding-bottom: 100px;
}
.footer > p {
    position: absolute;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.footerNav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.footerNav li:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 30px;
}
.contactTop {
    padding: 0;
    background: transparent;
}
.contactTop p {
    color: #fff !important;
}
.contactTop p::before {
    content: none;
}
.footerToggle {
    margin-bottom: 30px;
}
.aboutPosition2 {
    font-size: 100px;
    margin-top: 0;
}
.aboutAsContainer {
    width: 70%;
}
.board:after {
    top: 0;
}
.stagesContainer p:nth-of-type(1) {
    font-size: 20px;
}
.stagesContainer p:nth-of-type(2) {
    font-size: 12px;
}
.stagesContainer {
    height: 400px;
}
.stagesOfWork .wrapper h2 {
    top: 0;
}
.slick-prev.slick-arrow {
    left: 35%;
}
.slick-next.slick-arrow {
    right: 30%;
}
}
@media (max-width: 768px) {
.card > .wrapper {
    width: 90%;
}
.equipmentVestContainer {
    width: 165px;
    margin-bottom: 20px;
}
.equipmentBoardContainer {
    width: 165px;
    margin-bottom: 20px;
}
.cardContainerInfo {
    width: 45%;
    min-width: 45%;
}
.book-now {
    width: 40%;
}
.groupTrainings {
    width: 90%;
}
.groupTrainingsLeft {
    margin-right: 0 !important;
}
.stagesOfWork .wrapper {
    flex-direction: column;
    align-items: center;
}
.stagesContainer {
    width: 100%;
    height: 300px;
}
.stagesContainer img {
    left: 0;
    top: 10%;
}
.stagesContainer p:nth-of-type(1) {
    font-size: 28px;
}
.stagesContainer p:nth-of-type(2) {
    font-size: 16px;
    width: 90%;
}
.stagesContainer:nth-of-type(1) {
    margin-top: 50px;
}
.stagesContainer:nth-of-type(2) img {
    right: 20%;
    left: auto;
    top: -18%;
}
.media {
    width: 100%;
    padding: 0 16px 45px 16px;
}
.slick-prev.slick-arrow {
    left:  25%;
}
.slick-next.slick-arrow {
    right: 25%;
}
.equipmentTittle {
    font-size: 90px;
}
main::after {
    top: -450px;
}
main  {
    margin-top: -100px;
}
.topContainerSidebar {
    display: none;
}
.background {
    background: url(../img/mobile/MainArt.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
}
}
@media(max-width: 576px) {
.background {
    height: 100vh;
    background: url(../img/mobile/MainArt.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center -60px;
}
.contactUs {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content p:nth-of-type(2) {
    font-weight: 300;
    font-size: 16px;
}
.contactTop p:nth-of-type(1) {
    font-size: 16px;
    font-weight: 500;
}
.contactTop p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 500;
}
.contactTop p:nth-of-type(3) {
    font-size: 14px;
    font-weight: 300;
}
.content p:nth-of-type(1) {
    font-size: 16px;
    font-weight: 500;
}
.contactUsContent {
    margin-top: 32px;
    height: 250px;
}
.contactUsContentLeft {
    width: 50%;
}
.contactUsContentRight {
    width: 50%;
}
.contactUs h2 {
   margin-right: auto;
}
.board:after {
    content: none;
}
.equipmentVest {
    padding: 0;
    justify-content: center;
}
main::after {
    top: -225px;
}
.topContainerMain > button {
    bottom: 15vh;
}
.equipmentBoard {
    padding: 0;
    justify-content: space-around;
}
.equipment .wrapper {
    padding-bottom: 0;
}
.equipmentTittle {
    font-size: 55px;
}
.aboutPosition {
    font-size: 90px;
    margin-top: 100px;
}
.aboutPosition2 {
    font-size: 50px;
    margin-top: 0;
}
.aboutPositionCentr {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutAs .wrapper {
    width: 100%;
    padding: 0 16px;
}
.aboutAsContainer {
    width: 100%;
}
.mediaContainer  {
    width: 164px;
    height: 164px;
}
.slick-prev.slick-arrow {
    left: 16px;
    width: 25px;
    height: 18px;
}
.slick-next.slick-arrow {
    right: 16px;
    width: 25px;
    height: 18px;
}
.stagesContainer {
    height: 230px;
}
.stagesOfWork .wrapper h2 {
    top: -50px;
}
.stagesContainer:nth-of-type(2) img {
    left: 0 !important;
    right: auto;
    top: 10%;
}
.stagesContainer:nth-of-type(1) .positionNumber {
    right: 5%;
    top: 15%;
}
.stagesContainer:nth-of-type(2) .positionNumber {
    right: 5%;
    top: 15%;
}
.stagesContainer:nth-of-type(3) .positionNumber {
    right: 5%;
    top: 15%;
}
.stagesContainer p:nth-of-type(1) {
    width: 90%;
}
.stagesContainer p:nth-of-type(2) {
    font-weight: 300;
    line-height: 150%;
    width: 100%;
}
.positionNumber {
    font-size: 100px;
}
.stagesContainer {
    padding-left: 65px;
}
.stagesContainer img {
    max-width: 200px;
}
.topContainerMain  {
    height: auto;
    justify-content: center;
}
.topContainerSidebar {
    display: none;
}
.burgerLogo > a {
    width: 40%;
}
.menu.open-menu {
    padding: 13px 16px;
    right: 0;
}
.burgerLogo > .book-now {
    padding: 8px 16px;
}
.burgerLogo {
    margin-bottom: 120px;
}
.menu.open-menu .navigaton li a {
    font-size: 16px;
}
.menu.open-menu .socialIcon {
    width: 80%;
}
header {
    padding: 33px 20px 0 20px;
    height: auto;
}
.box-container {
    left: 85%;
    top: 55%;
}
.logo > a > img {
    max-width: 70%;
}
.logo {
    width: 30%;
    height: auto;
}
.book-now {
    padding: 8px 16px; 
}
.cardinfo > p:nth-of-type(1) {
    display: none;
}
.cardinfo {
    align-items: center;
}
.cardContainerInfo {
    width: 164px;
    max-width: 164px;
    min-width: 164px;
    box-sizing: border-box;
    height: 238px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-sizing: border-box !important;
    background-blend-mode: luminosity;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.4));
    margin-right: 16px;
}
.cardContainer .cardContainerInfo:nth-of-type(1) {
    background: url(../img/mobile/card1.png);
}
.cardContainer .cardContainerInfo:nth-of-type(2) {
    background: url(../img/mobile/card2.png);  
}
.cardContainer .cardContainerInfo:nth-of-type(3) {
    background: url(../img/mobile/card3.png);
    
}
.cardContainer .cardContainerInfo:nth-of-type(4) {
    background: url(../img/mobile/card4.png);
}
.btnMobile {
    display: flex;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-top: 16px;
    background: transparent;
}
.menuRight {
    width: auto;
    padding: 33px 19px;
    box-sizing: border-box;
}
.close {
    width: 21px;
    height: 21px;
    margin-bottom: 80px;
}
.close img {
    width: 100%;
}
.menuForm {
    margin-top: 40px;
}
.menuForm input {
    width: 100%;
}
.popupContent p:nth-of-type(2) {
    width: 50%;
}
main {
    margin-top: -100px;
}
.card {
    padding-top: 100px;
}
h2 {
    padding-left: 0;
    margin-bottom: 64px;
}
.cardContainerInfo > p {
    padding: 4px 8px;
    background: #248F7E;
    opacity: 0.75;
}
.btnMobile {
    width: 70%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
}
.cardinfo {
    padding: 0 8px 32px 8px;
}
.topContainerMain {
    padding-right: 0;
}
.menuRight {
    right: -500%;
}
.open_menu {
    right: 0 !important;
}
.cardContainer {
    margin-bottom: 0;
}
.groupTrainings {
    width: 90%;
}
.btnPrice button {
    font-weight: 700;
    line-height: 100%;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 7px 82px;
    justify-content: center;
}
.btnPrice button::after {
    content: none;
}
.burgerLogo > .book-now {
    width: 50% !important;
    font-size: 10px;
}
.burgerLogo {
    margin-bottom: 50px;
    height: auto !important;
}
header {
    padding-top: 13px;
}
.book-now {
    width: auto;
}
.birger-button {
    margin-top: -15px;
}
.topContainerMain > button {
    padding: 11px 47px;
}
.groupTrainingsLeft img {
    max-width: 100%;
    object-fit: contain;
    text-align: left;
}
.cardContainer {
    margin-bottom: 64px;
}
.groupTrainings {
    width: 100%;
    padding: 0 16px;
}
.cardContainer .cardContainerInfo:nth-of-type(3) {
    margin-bottom: 0;
}
.cardContainer .cardContainerInfo:nth-of-type(4) {
    margin-bottom: 0;
}
.card {
    margin-bottom: 0;
}
.card > .wrapper {
    width: 100%;
    padding: 0 16px;
}
.cardContainerInfo {
    margin-right: 0;
    margin-bottom: 32px;
}
.cardContainerInfo > p {
    text-align: left;
}
.groupTrainingsLeft {
    margin-bottom: 16px;
}
.groupTrainingsRight > p {
    font-weight: 300;
}
.btnPrice > p {
    font-size: 16px;
    font-weight: 500;
}
.btnPrice {
    margin-bottom: 64px;
}
.stagesOfWork .wrapper {
    width: 100%;
    padding: 0 16px;
}
.stagesOfWork .wrapper h2 {
    left: 16px;
}
.stagesContainer:nth-of-type(1) img {
    width: 150px;
    height: 120px;
}
.stagesContainer:nth-of-type(2) img {
    width: 102px;
    height: 170px;
    max-width: 102px;
    max-height: 170px;
    object-fit: cover;
    left: -5% !important;
    top: -15%;
}
.stagesContainer:nth-of-type(1) img {
    width: 150px;
    height: 120px;
}
.menu.open-menu .socialIcon {
    width: 40%;
}
.menu.open-menu {
    padding: 13px 20px;
}
.card::after {
    bottom: 4%;
    height: 200px;
    background-size: contain;
}
}
@media (max-width: 374px) {
.cardContainer {
    flex-direction: column;
    align-items: center;
}
.background {
    background-size: contain;
    background-position-x: center !important;
}
.stagesContainer {
    height: 250px;
}
.stagesContainer .positionNumber {
    right: 20% !important;
}
.topContainerMain > button {
    bottom: 20vh;
}
main::after {
    top: -325px;
}
.stagesContainer  {
    padding-left: 30px;
}
.cardContainer {
    margin-bottom: 0;
}
.cardContainerInfo:nth-of-type(4) {
    margin-bottom: 0;
}
.cardContainer .cardContainerInfo:nth-of-type(3) {
    margin-bottom: 32px;
}
.cardContainer .cardContainerInfo:nth-of-type(4) {
    margin-bottom: 32px;
}
h2 {
    font-size: 25px;
    margin-bottom: 30px;
}
.btnPrice button {
    padding: 8px 30px;
}
.topContainerMain > button {
    font-size: 18px;
    line-height: 100%;
}
.aboutPosition {
    font-size: 50px;
    margin-top: 100px;
}
.aboutPosition2 {
    font-size: 30px;
    margin-top: 0;
}
.aboutAs {
    height: 100%;
    padding-bottom: 50px;
}
.card::after {
   content: none;
}
}